.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Pour centrer verticalement les éléments si nécessaire */
    padding: 20px;
    background-color: #f8f9fa;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Pour centrer verticalement les éléments si nécessaire */
}

.profil-card {
    position: relative;
    cursor: pointer;
    margin-left: auto;
}

.profil-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
